INSTALL
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.bz2
*.lo
*.o
.libs
libtool
*.la
config.log
config.status
compile
st-flash
st-util
st-term
st-info
test_usb
test_sg
*.deps*
*.dirstamp
*.a
Makefile
*.exe
example/blink/*.elf
