nbproject
.project
*.o
*.elf
doc/tutorial/*.log
doc/tutorial/*.aux
libstlink.a
test_usb
test_sg
gdbserver/st-util
flash/flash
*.log
example/*/*.bin
example/*/*.elf
example/*/*/*.bin
example/*/*/*/*.bin
example/*/*/*.a
example/*/*/*/*.a
