#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@


OUTDIR=build/Release
ROOTDIR=debian/tmp
DSTDIR=$(ROOTDIR)/usr
BINDIR=$(DSTDIR)/bin
SHAREDIR=$(DSTDIR)/share/stlink
LIBDIR=$(DSTDIR)/lib/$(if $(DEB_TARGET_MULTIARCH),$(DEB_TARGET_MULTIARCH),$(DEB_BUILD_MULTIARCH))
UDEVDIR=$(ROOTDIR)/lib/udev/rules.d/
MODDIR=$(ROOTDIR)/lib/modprobe.d/

export CMAKEFLAGS = \
	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	-DCMAKE_INSTALL_PREFIX=/usr \


override_dh_auto_configure:

override_dh_auto_install:
	install -d $(DSTDIR)/include/stlink/tools
	install -d $(LIBDIR)/pkgconfig
	install -d $(BINDIR)
	install -d $(SHAREDIR)
	install -d $(UDEVDIR)
	install -d $(MODDIR)
	install -m644 $(wildcard include/*.h) $(DSTDIR)/include
	install -m644 $(wildcard include/stlink/*.h) $(DSTDIR)/include/stlink
	install -m644 $(wildcard include/stlink/tools/*.h) $(DSTDIR)/include/stlink/tools
	install -m755 $(wildcard $(OUTDIR)/st-* $(OUTDIR)/src/gdbserver/st-* $(OUTDIR)/src/tools/gui/stlink-gui*) $(BINDIR)
	cp -d $(wildcard $(OUTDIR)/libstlink.*) $(LIBDIR)
	install -m644 $(OUTDIR)/usr/lib/pkgconfig/stlink.pc $(LIBDIR)/pkgconfig
	install -m644 src/tools/gui/stlink-gui.ui $(SHAREDIR)
	install -m644 etc/udev/rules.d/*.rules $(UDEVDIR)
	install -m644 etc/modprobe.d/*.conf $(MODDIR)

