Source: stlink
Priority: optional
Maintainer: Nightwalker-87 <stlink-org>
Build-Depends: cmake, dh-cmake, debhelper (>= 9), libusb-1.0-0-dev, libgtk-3-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Section: electronics
Homepage: https://github.com/stlink-org/stlink
Vcs-Git: https://github.com/stlink-org/stlink.git
Vcs-Browser: https://github.com/stlink-org/stlink
