Source: stlink
Priority: optional
Maintainer: Nightwalker-87 <stlink-org>
Build-Depends: debhelper, pkgconf, systemd-dev, cmake (>= 3.20.0), libusb-1.0-0-dev (>= 1.0.24), libgtk-3-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no
Section: electronics
Homepage: https://github.com/stlink-org/stlink
Vcs-Git: https://github.com/stlink-org/stlink.git
Vcs-Browser: https://github.com/stlink-org/stlink
